/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #cccccc;
    text-shadow: none;
}

::selection {
    background: #cccccc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   body {
    background-color:#e89794;
  }

.body {
  margin: 2% 2% 2% 2%;
}

.header {
  padding: 40px 60px 20px 60px;
  background-color: white;
  position: relative;
}

.navigation {
  height:100%;
  padding: 0px 0px 0px 0px;
  background-color:#c7c7c7;
  position:relative;
  display:block;
}

h2 {
  font-size: 250%;
  font-family: 'Merriweather', serif;
  display:inline;
}

h2 a:visited {
color: #222222 !important;
}

.section, .section1 {
height:100%;
padding: 40px 60px 40px 60px;
overflow:hidden;
display:block;
}

.section {
background-color: #FFEADC;
}

.section1 {
background-color:white;
vertical-align: top;
}

.me {
height:30%;
width:30%;
border-width: 20px;
border-color: #c7c7c7;
border-style: solid;
margin: 0px 30px 0px 10px;
float: left;
}

.align {
vertical-align: top;
}

h1 {
font-family: 'Merriweather', serif;
font-size:380%;
margin-bottom:0.1em;
}

.section h1 {
margin-top: 0.2em;
text-decoration:underline;
}

.section a {
text-decoration:none;
}

.section a:visited {
color:black;
}

.section a:hover {
color: #e89794 !important;
}


h3 {
font-family: 'Merriweather', serif;
font-size: 200%;
margin-top:0.1em;
}

span {
color:#e89794;
}

p {
font-family: 'Roboto Mono', monospace;
font-size: 160%;
word-wrap: break-word;
margin-top:0em;
white-space: pre-line;
}

i {
  float:right;
}

a i {
  color:#222222 !important;
}

#navicon a:hover {
  color: #e89794;
}

#navi ul {
  list-style-type:none;
  margin:0;
  padding: 0px 0px 0px 60px;
}

#navi li {
  display: inline;
}

#navi li a {
  text-decoration: none;
  display:inline-block;
  text-align:center;
  font-family: 'Merriweather', serif;
  color:#222222;
  font-size:200%;
  padding: 20px 20px 20px 20px;
  /*
  border-left: 2px solid #222222;
  border-right: 2px solid #222222;
  */
}

#navi li a:hover {
  color: #e89794;
}

.navigation.collapsed {
display:none;
}

a {
color:black;
}

a:visited {
color: #c7c7c7;
}

a:hover {
  color: #e89794;
}

/* packery */
 * {
box-sizing:border-box;
 }

.grid:after {
  content: '';
  display:block;
  clear: both;
}

/* grid-item */

.grid-item {
  background: #ffffff;
  max-width: 450px;
  float: left;
  box-shadow: 5px 5px 0px #c7c7c7;
}

.grid-item img {
display:block;
max-width:90%;
-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
filter: grayscale(100%);
margin:0 auto;
}

.grid-item img:hover {
filter: none;
}

.grid-item h4 {
font-family: 'Merriweather', serif;
font-size: 180%;
text-align:center;
margin: 0 auto;
padding: 5px 0px 5px 0px;
}

.grid-item p {
font-size:100%;
padding: 5px 5px 5px 5px;
text-align:center;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
